node_modules
scg.txt
fl.txt
faq.txt
mongo.txt
.env
scores.json
challenges.json
dashboarddata.json
/public/frontend/scores.json
/public/frontend/challenges.json
/public/frontend/dashboarddata.json
/public/frontend/teams.json
