button{
    width: 30%;
}

.carousel-caption button {
    margin: 20px auto;
    display: block;
    width: 150px; /* Adjust button width */
    height: 45px; /* Adjust button height */
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-caption button:hover {
    background: transparent;
    color: rgba(2, 126, 251, 1);
    box-shadow: none;
  }
  
  .carousel-item img {
    max-height: 400px; /* Adjust image height */
    object-fit: cover; /* Ensure the image fits within the container */
  }