.dash{
    background-color: bisque;
    display: flex;
}

.profile,.mentor{
    background-color: #8d95f0a4;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submissions{
    background-color: #8d95f0a4;
    margin: 0;
    padding: 0;
    width: 80%;
    height: 80vh;
    border: #010101a4;
    border-style: double;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-requests{
    /* background-color: rgb(134, 86, 182); */
    margin: auto;
    padding: 10px;
}
 
.team-requests Card{
       background-color: rgb(134, 86, 182);
} 

/* .scores{
    background-color: seashell;
    padding:0%;
}  */

table{
    margin: 0%;
}

leaderboard{
    background-color: #b0d7c8eb;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardcontainer{
    display: flexbox;
   
} 
.teamm{
height: 20%;
width: 20%;
background-color:rgb(134, 86, 182);
justify-self: center;
}