/* body {
  font-family: Arial, sans-serif;
  /* background-color: #b0d7c8eb; 
  margin: 0;
  padding: 0; 
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0WvJgKXveaWNt2t_PZveg1vd1pR772mnrVFOR0y179B4rhes2Pr5E4kI&s');
  background-size: auto;
  background-repeat: no-repeat; */
*/

/* body {
  /* font-family: "Inter", sans-serif; 
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  /* justify-content: center; 
  align-items: center;
  /* flex-direction: column; 
  margin: 0;
  padding: 0;
  /* padding: 1rem; 
} */

.App {
  /* text-align: center; */
  margin: 0%;
  padding: 0%; 
}

.App h1{
  color: rgb(26, 18, 137);
  margin-top: 50px;
}

.timeline{
  display: block;
}

.timeline h2{
  color: rgb(26, 18, 137);
  padding: 5%;
}

.timeli{
  display: flex; 
  gap: 100px; 
  margin-bottom: 20px; 
  justify-content: center;
  background-color:rgb(103, 103, 203);
}
.time{
  background-color: rgb(162, 103, 216);
  border: 1px solid #ccc; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 4px 12px 25px rgba(0, 0, 0, 0.1); 
  width: 200px; 
  text-align: center;
  background-color: #f9f9f9; 
  color: #37438e;
  height: 250px;
}

/* .home{ 
  text-align: 'center';
   padding : 0;
   margin: 0%;
   justify-content: center;
   } */

.home h1{
  justify-self: center;
}

.home p{
  justify-self: center;
}

   .timeline-container {
    width: 300px; /* Adjust as needed */
    margin: 50px auto;
    text-align: center;
}

.rotating-disc {
    width: 250px; /* Adjust as needed */
    height: 250px; /* Adjust as needed */
    border-radius: 50%;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #ccc;
    transition: transform 0.5s ease-in-out; /* Smooth rotation */

}

.rotating-disc:hover{
    transform: rotate(360deg);
}

.disc-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.time-item {
    position: absolute;
    width: 100%;
    text-align: center;
    transform-origin: 50% 50%;
    transform: rotate(var(--rotation)) translateY(-125px); /* Move content to disc edge */
    padding: 10px;
}

.time-item strong {
    display: block;
    margin-bottom: 5px;
}

.card-header h2{
  color:blue;
  margin-top: 20px;
}

h4{
  justify-content: left;
  color:   rgb(26, 18, 137);
}

/* .container md-5 h3{
  justify-content: left;
} */

footer{ 
  background-color: #038a7f;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

FontAwesomeIcon icon{
  font-size: 24px;
  color: white;
  margin-left: 10px;
}

#contact{
  padding: 0;
}
